<form ng-submit="vm.submit()" class="ForgotPassword-form">
    <div>
        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="vm.email">
        </md-input-container>

        <md-button type="submit" class="md-primary md-raised">Submit</md-button>

    </div>
    <md-button href="#!/login" class="md-raised"> Back to Login</md-button> 
</form>
