@import "../../../material/project";
.footer-align{
	margin-right: 0px !important;
	margin-left: 0px !important; 
}
.footer-align-center{
	text-align:center; 
}
.carousel{
	//position:static !important;
}  

