    
            <div class="row footer-align">
                <div class="col-lg-12">
                    <p class="footer-align-center">Copyright &copy; Your Website 2014</p>
                </div>
            </div>

    </div>