<form ng-submit="vm.login()">
	<div>
		<md-input-container class="LoginForm-inputContainer">
			<label>Email</label>
			<input type="email" ng-model="vm.email">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="LoginForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>

	<md-button type="submit" class="LoginForm-submit md-primary md-raised">Log in</md-button>

</form>
<md-button href="#!/forgot-password" class="md-raised"> Forget Password</md-button>
<md-button href="#!/register" class="md-raised"> Register</md-button>