<form ng-submit="vm.register()">
	<div>
		<md-input-container class="RegisterForm-inputContainer"> 
			<label>Name</label>
			<input type="text" ng-model="vm.name">
		</md-input-container>
	</div>

	<div> 
		<md-input-container class="RegisterForm-inputContainer"> 
			<label>Email</label>
			<input type="email" ng-model="vm.email">
		</md-input-container> 
	</div> 

	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>

	<md-button type="submit" class="RegisterForm-submit md-primary md-raised">Register</md-button>
</form>
<div flex >

	<p>Or you can login using one of the social logins</p>
	<md-button flex="100" ng-click="vm.authExternalProvider('facebook')">
		<ng-md-icon icon="facebook" ></ng-md-icon><span>Facebook</span>
	</md-button>
	<md-button flex="100"  ng-click="vm.authExternalProvider('google')">
		<ng-md-icon icon="google-plus" ></ng-md-icon><span> Google+</span>
	</md-button>
</div>
<md-button href="#!/login" class="md-raised"> Go to Login</md-button> 
