<form ng-submit="vm.submit()">
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="vm.name">  
    </md-input-container>
    <md-input-container>
      <label>Topic</label>
      <input type="text" ng-model="vm.topic"> 
    </md-input-container> 
    <md-button type="submit" class="md-primary md-raised">Create post</md-button> 
</form>